name: iOS macOS Builder

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build iOS app
        run: |
          xcodebuild \
            -project Blank.xcodeproj \
            -scheme Blank \
            -sdk iphoneos \
            -destination 'platform=iOS,name=Any iOS Device' \
            build